main{
    width: 50%;
    margin: auto;
}
.intro p{
    width: 70%;
}

.double{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
}
.double div div div img{
    width: 50px;
}
.nve , .opti{
    display: grid;
    gap: 20px;
    grid-template-columns: 50px 500px;
}
.biglogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.biglogo img {
    border-radius: 50px;
    width: 100%;
}

.recont{
    margin-top: 20px;
    font-size: large;
}
.recont a {
    width: 250px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #a100ff;
}
.recont a img {
    width: 25px;
}
.recont a:hover{
    text-decoration:underline;
}

.rejoindre, .team{
    margin-top: 50px;
    color: #a100ff;
    text-align: center;
}
.subrejoindre{
    font-size: 15px;
    text-align: center;
}
/* Étapes pour rejoindre */
.steps-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    border: 1px solid black;
    border-radius: 15px;
}
.step {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
}
.step:hover{
    transform: scale(1.04);
}
.step img {
    width: 100%;
    border-radius: 10px;
}
.step h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #a100ff;
}
/* Section équipe */
#team {
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.team-member {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
}
.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/* Responsive */
@media (max-width: 1024px) {
    #team {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {

    .step {
        width: 90%;
    }
    .team-member {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .team-member {
        width: 100%;
    }
}
