/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
    background-color: #f2f0f3;
    color: #000;
    max-width: 2000px;
}

/* Header */
header {
    background-color: #22222200;
    max-width: 90%;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    display: flex;
}
nav ul li a {
    color: #2b2929;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    padding: 15px;
}
nav ul li a.ext {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    padding: 15px;
    background-color: #2b2929;
    border: #000 2px solid;
    border-radius: 15px;
}
nav ul li a:hover {
    color: #8802e0 
}
h1{
    font-size: 1.87rem;
    color: #a100ff;
}
/* Footer */
footer {
    display: flex;
    max-width: 90%;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 14px;
}
footer nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer nav ul li a{
    text-decoration: underline;
}
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}